#card-login{

  background-color: #7080902d;

}

#titulo-login{
  text-align: center;
  font-size: larger;
}

#boton-login{

  text-decoration-color: black;
  border: 10%;
  border-radius: 12px;
  font-size: 22px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -moz-text-decoration-color: black;
}

#boton-help-login{

  background-color: rgba(255, 255, 0, 0.426);
}
