<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>DuocQR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title style="text-align: center;">profesor1</ion-card-title>
      <br>
      <ion-card-subtitle style="text-align: center;">Detalles Laborales</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="text-align: center;">
      Rut: 11.111.111-1
    </ion-card-content>
    <ion-card-content style="text-align: center;">
      Credencial Intituciones N°: 15124
    </ion-card-content>
    <ion-card-content style="text-align: center;">
      ornare vitae dui. Maecenas ut lacinia ex. Pellentesque pulvinar blandit metus, in blandit ante euismod sed. Pellentesque et augue mattis, ultrices mauris sit amet, fermentum nisl. Ut porta in magna sit amet porta. Mauris commodo venenatis urna, auctor viverra massa luctus at.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
